* {
    font-family: ui-sans-serif, system-ui, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.block {
    display: block;
    position: absolute;
    min-height: 100px;
    min-width: 200px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: move;
}

.block .header {
    display: block;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    background-color: #aaa;
}

.block .header .header-title {
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

.block .header .header-delete {
    font-size: 12px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    float: right;
    margin-right: 5px;
}

.block .header .header-delete:hover {
    color: red;
}

.block .content {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    padding: 5px;
    user-select: none;
    justify-content: space-between;
}

.block .inputs-outputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.block .input-output {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.block .pin-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

.block .pin-circle:hover {
    background-color: #fff;
    border: 1px solid #000;
}

#main-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 10000px;
    height: 10000px;
    display: block;
    background-color: #eee;
}

.wire-path:hover {
    stroke-width: 3;
}

.connected {
    background-color: red !important;
}

.context-menu {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    min-width: 200px;
    display: none;
    z-index: 1000;
}

.context-menu-item {
    padding: 8px 15px;
    cursor: pointer;
    user-select: none;
}

.context-menu-item:hover {
    background-color: #f0f0f0;
}

.context-menu-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.context-menu-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-number {
    width: 3.5rem;
}

#toolbar {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
}

#toolbar button {
    user-select: none;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    /* will be transformed via JS */
}

#canvas-container.panning {
    cursor: grabbing;
}